.idea/
*.pyc
.venv/*
venv/
**__pycache__
**/migrations/00*.py
**/migrations/*__pycache__
src/staticfiles/*
src/media/*
src/static/*
src/back_media/*
src/back_static/*
src/.idea/*
src/.env
src/db.sqlite3
back_media/
storage/
media/
data/